@import '../../theme/palette';
@import '../../theme/animations';

.Spinner{
  position: absolute;
  top: 50px;
  right: 50px;
  width: 40px;
  height: 40px;
  margin: -20px 0 0 -20px;
  animation: rotate 1.2s infinite linear;
  border-top: 4px solid #FFF;
  border-right: 4px solid #FFF;
  border-bottom: 4px solid #808080;
  border-left: 4px solid #808080;
  border-radius: 50%;
  background: transparent;
}

@keyframes rotate {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}